

<!DOCTYPE html>
<html lang="en">

<head>
    <title>WEATHER PROJ</title>
    <style>
        .navList {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #555;
        }
        .navblock {
            float: left;
        }
        .navlink {
            display: block;
            color: lightcyan;
            text-align: center;
            padding: 10px 30px;
        }
        .navlink:hover {
            background-color: #777;
        }

        body {
            background: #dbdbdb;
            height: 400px;
            font-size: 20px;
        }
        p {
            font-family: Arial;
        }
        ul {
            list-style-type: circle;
        }
        h1{
            display: inline;
            padding-right: 30px;
        }

        input {
            margin: 10px;
        }
        button {
            display:inline-block;
            padding:0.7em 1.4em;
            margin:0 0.3em 0.3em 0;
            border-radius:0.15em;
            box-sizing: border-box;
            text-decoration:none;
            font-family:'Roboto',sans-serif;
            text-transform:uppercase;
            font-weight:400;
            color:#FFFFFF;
            background-color:#3369ff;
            box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
            text-align:center;
            position:relative;
            margin-top: 10px;
        }

        tr:nth-child(even){background-color: #f2f2f2;}
        tr:nth-child(odd){background-color: #e4e4e4;}
        th{background-color: #d5d5d5;}
        }table, th, td {
             border: 1px solid black;
         }

    </style>
</head>

<body>
    <div class="section1">
              <header>
                  <ul class="navList">
                      <li class="navblock"><a href="/login" class="navlink">Login</a></li>
                      <li class="navblock"><a href="/signUp" class="navlink">SignUp</a></li>
                      <li class="navblock"><a href="/home/<%= user%>" class="navlink">Home</a></li>
                      <li class="navblock"><a href="/setPreferences/<%= user%>" class="navlink">Set Preferences</a></li>
                      <li class="navblock"><a href="/addLocation/<%= user%>" class="navlink">Add Location</a></li>
                      <li class="navblock"><a href="/home/views/<%= user%>" class="navlink">View Locations</a></li>
                      <li class="navblock"><a href="/setNotices/<%= user%>" class="navlink">Notification Settings</a></li>

                  </ul>
              </header>
          </div>
                     <br>
       <h1>WEATHER PREFERENCES</h1> Logged in as: <%= user%>
    <br>
    <br>
    <br>

                                         Current Preferences <br>
    <br>
    Lowest Temperature:<%= weather1%> degrees F<br>
    Highest Temperature:<%= weather2%> degrees F<br>
   Maximum Chance of Rain:  <%= weather3%> % precipitation<br>
   Maximum Wind: <%= weather4%> mph</p>

    <br>New Minimum Temperature (farenheit)<input id="textLowTemp" type="text"></input>
    <br>New Maximum Temperature (farenheit)<input id="textHighTemp" type="text"></input>
    <br>New Maximum precipitation (percentage)<input id="textPrecip" type="text"></input>
    <br>New Maximum wind (mph)<input id="textWind" type="text"></input>
    <br>
        <button onclick="
            let textLowTemp = document.getElementById('textLowTemp').value;
            let textHighTemp = document.getElementById('textHighTemp').value;
            let textPrecip = document.getElementById('textPrecip').value;
            let textWind = document.getElementById('textWind').value;
            window.location.href= '/setTemp/' + textLowTemp + '/' + textHighTemp + '/' + textPrecip + '/' + textWind + '/';
        ">Set Weather Preferences
        </button>
    <br>
      <button onclick="
           window.location.href= '/home/'
           + '<%= user%>' + '/';
           ">BACK
    </button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</body>

</html>